:root { 
--gray_700:#565c5e; 
--black_900:#0b1012; 
--white_A700_a5:#ffffffa5; 
--gray_900:#0e1618; 
--gray_900_01:#1e1e1e; 
--deep_orange_200:#deb789; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_700_01:#5e5e5e; 
}